@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Ubuntu:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@500&display=swap');

.poster{
    background-image: url("https://images.pexels.com/photos/2909077/pexels-photo-2909077.jpeg?auto=compress&cs=tinysrgb&w=600");
    background-repeat: no-repeat;
    background-size: cover;
}
.poster2{
    /* background-image: url("https://images.pexels.com/photos/4919373/pexels-photo-4919373.jpeg?auto=compress&cs=tinysrgb&w=600"); */
    /* background-image: url("https://images.pexels.com/photos/3764000/pexels-photo-3764000.jpeg?auto=compress&cs=tinysrgb&w=600"); */
    /* background-image: url("https://images.pexels.com/photos/2662792/pexels-photo-2662792.jpeg?auto=compress&cs=tinysrgb&w=600"); */
    
    background-image: url("https://images.pexels.com/photos/7288168/pexels-photo-7288168.jpeg?auto=compress&cs=tinysrgb&w=600");
    background-repeat: no-repeat;
    background-size: 800px;
    background-position: center;
}
.poster3{
    background-image: url("https://images.pexels.com/photos/1927320/pexels-photo-1927320.jpeg?auto=compress&cs=tinysrgb&w=600");
    /* background-image: url("https://images.pexels.com/photos/3764000/pexels-photo-3764000.jpeg?auto=compress&cs=tinysrgb&w=600"); */
    background-repeat: no-repeat;
    background-size: 800px;
    background-position: center;
}
